<div class="feature-media"></div>
<div class="write-up">
  <p>
    Enter the world of Rikkle! Rikkle is a cylindrical (cylind-RIKKLE) game of
    matching tiles. Move the rows of blocks to match at least 3 game-pieces
    vertically or horizontally; in any combination. Watch out! You only have so
    many moves before it's game-over. 😯 Earn moves and score big time with
    longer and faster matches!
  </p>
  <p>
    Every time you play Rikkle, it's a bit different. Enjoy each randomly
    generated game level. What will you get next?!
  </p>
</div>
<div class="app-store-links">
  <a
    class="google-app-store-link-img"
    target="_blank"
    href="https://play.google.com/store/apps/details?id=com.turbogeekbear.rikkle1"
    ><img src="/assets/en_badge_web_generic.png"
  /></a>
  <a
    class="apple-app-store-link-img"
    target="_blank"
    href="https://apps.apple.com/us/app/rikkle/id1636669515"
    ><img
      src="/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
  /></a>
</div>
