@import "../../../../styles-vars.scss";

.feature-media {
  margin-top: 1em;
  height: 20em;
  background-image: url("/assets/rikkle/Rikkle-01.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (max-width: 600px) {
    height: 10em;
  }
}

.write-up {
  text-align: left;
  margin: auto;
  max-width: 40em;
}

.google-link {
  img {
    width: 15em;
  }
}

.screen-shots {
  img {
    width: 10em;
    margin: 0.5em;
  }
}
