<div class="feature-media"></div>
<div class="write-up">
  <p>
    Welcome to Griddin! Every time Griddin is played, it's a different set of
    tiles! Easy to play: swap grid tiles to match at least 3 like tiles. Stuck?
    Use the (?) Hint button. But, watch out! Hints will cost you points. Have
    some fun with this casual and relaxing game.
  </p>
  <p>
    Every time you play Grddin, it's a bit different. Enjoy each randomly
    generated game level. What will you get next?!
  </p>
</div>
<!-- <p>
  <a
    class="google-link"
    target="_blank"
    href="https://play.google.com/store/apps/details?id=com.turbogeekbear.rikkle1"
    ><img src="/assets/en_badge_web_generic.png"
  /></a>
</p> -->
