@import "../../../../../styles-vars.scss";

.sub-nav {
  text-align: left;
}

.feature-media {
  margin-top: 1em;
  height: 20em;
  background-image: url("/assets/griddin/Griddin-Google-Feature.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (max-width: 600px) {
    height: 10em;
  }
}

.write-up {
  text-align: left;
  margin: auto;
  max-width: 40em;
}

.app-store-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;

  .apple-app-store-link-img {
    img {
      width: 13.5em;
    }
  }

  .google-app-store-link-img {
    img {
      width: 15em;
    }
  }
}
