#app-content {
  text-align: center;

  .title {
    letter-spacing: 0.25em;
  }

  .logo {
    background-image: url("^assets/turbogeekbear-icon.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25em;
    margin: 1em;
  }

  .contact-link:visited,
  .contact-link:link {
    font-size: larger;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
  }

  .contact-link:hover {
    border: 0.52px solid black;
    border-radius: 0.5em;
  }
}
