<div id="app-content">
  <div class="logo" routerLink="/">
    <a
      class="contact-link"
      href="mailto:daveteply@turbogeekbear.com?subject=Inquiry from turbogeekbear.com"
      >Contact Us</a
    >
  </div>
  <nav class="main-navigation">
    <div class="nav-item" routerLinkActive="active">
      <a routerLink="projects/rikkle">
        <img src="assets/rikkle/favicon-32x32.png" />
        Rikkle</a
      >
    </div>
    <div class="nav-item" routerLinkActive="active">
      <a routerLink="projects/griddin">
        <img src="assets/griddin/favicon-32x32.png" />
        Griddin</a
      >
    </div>
    <div class="nav-item">More coming soon!</div>
  </nav>
  <router-outlet></router-outlet>
</div>
