<div id="app-content">
  <div class="logo" routerLink="/">
    <a
      class="contact-link"
      href="mailto:daveteply@turbogeekbear.com?subject=Inquiry from turbogeekbear.com"
      >Contact Us</a
    >
  </div>
  <nav class="main-navigation">
    <ul>
      <li>
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="projects/rikkle"
        >
          <img src="assets/rikkle/favicon-32x32.png" />
          Rikkle</a
        >
        <sub>
          <a class="sub-link" routerLink="projects/rikkle/about">About</a></sub
        >
      </li>
      <li><i>More coming soon!</i></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
