.credits {
  margin-top: 1em;

  .credit-item {
    margin: auto;
    max-width: 40em;
    padding: 0.25em;
    display: flex;
    justify-content: space-between;
    &:nth-child(even) {
      background-color: #cecece;
      @media (prefers-color-scheme: dark) {
        background-color: #f2f2f223;
      }
    }

    a {
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
